fastapi
uvicorn[standard]
google-generativeai
langchain
langchain-core
langchain-google-genai
langchain-community
langchain-text-splitters
chromadb
sqlalchemy
pandas
pypdf
pymupdf
pytesseract
pillow
pdf2image
python-multipart
python-dotenv